# Editors
.vscode/*
.idea/*
.settings/*
*.ipr
*.iml
*.iws
# .classpath
# .project

# Output
bin/*

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# binary
*.jar
!lib/*.jar
!src/simpl/parser/*.jar